#div2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#div1{
    height: 30px;
}
.datos{
font-family: 'Times New Roman'; 
font-style: italic ;
font-weight: bold;
}
h1,h2{
    background-color: khaki;
    color: gray;
}
footer{
    background-color: lightgray;
    color: lightslategray;
    text-align: center;
}