#div3{
    display: flex;
    justify-content: space-around;
}
#div2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#div1{
    height: 30px;
}
.datos{
font-family: 'Times New Roman'; 
font-style: italic ;
font-weight: bold;
}
h1,h2{
    background-color:black;
    color:#FEE9CB;
}
footer{
    background-color:black;
    color:  #F4C875;
    text-align: center;
}
a{
    text-decoration: none;
    outline: none;
    color: #F4C875;
}
header {
    background-image: url(img/luces.jpg);
    background-size: repeat;
}
body{
    background-color: whitesmoke;
}
